<div class="card {{customClass}}">
    <div class="card-header">
        <img src="{{item.img}}" class="card-image">
        <span class="card-name" placeholder="{{localize 'Item.Placeholder.Name'}}">{{item.name}}</span>
    </div>
    <textarea class="card-textarea" placeholder="{{localize 'Item.Placeholder.Description'}}"></textarea>
</div>