<div class="flavor-box flexbox-centered" style="width: 100%;">
    <div class="flex-row">
        <div style="margin-right: 5px;">{{localize "Sizes.Size"}}:</div>

        {{#if (eq (isEditable @root.data.actor) "enabled")}}
        <select name="system.size">
            {{#each CONFIG.UnT.sizes as |sizeOpt|}}
            <option value="{{sizeOpt}}" {{#if (eq sizeOpt @root.data.actor.system.size)}}selected{{/if}}>
                {{localizeVariableKey "Sizes" sizeOpt emptyOptions=true}}
            </option>
            {{/each}}
        </select>
        {{else}}
        <div>{{localizeVariableKey "Sizes" @root.data.actor.system.size emptyOptions=true}}</div>
        {{/if}}
    </div>
</div>