{{!-- {{ log 'Ability Chat' this }} --}}
<div class="" {{#if borderColor}}style="border-color:{{borderColor}}"{{/if}} data-item-id="{{item._id}}">        
    <div class="card-header" style="background-color: {{getHeaderBackgroundColor item}}; color: {{getHeaderTextColor item}};">
        <img src="{{item.img}}" class="card-image">
        <span class="card-name" placeholder="{{localize 'Item.Placeholder.Name'}}">{{item.name}}</span>
    </div>

    {{#if item.system.flavor}}
    <div class="flavor-box">{{item.system.flavor}}</div>
    {{/if}}
    
    {{#if hasAttack}}
    <div class="flavor-box">
        <div>{{localize "Chat.Ability.Attack"}}</div>
        <div>{{{renderedRoll}}}</div>
        {{#if @root.buttonVisible}}
        <button data-action="roll-damage" data-hit-total={{@root.hitRollTotal}} style="margin-top: 5px;">{{localize "Chat.Ability.RollDamage"}}</button>
        {{/if}}
    </div>
    {{/if}}
</div>