{{!-- {{ log 'Applied Damage Chat' this }} --}}
<div class="" data-message-id="{{message._id}}" {{#if borderColor}}style="border-color:{{borderColor}}"{{/if}} data-item-id="{{item._id}}">        
    <div class="card-header" style="background-color: {{getHeaderBackgroundColor item}}; color: {{getHeaderTextColor item}};">
        <img src="{{item.img}}" class="card-image">
        <span class="card-name" placeholder="{{localize 'Item.Placeholder.Name'}}">{{item.name}}</span>
    </div>
    
    <div class="flavor-box flex-row" style="justify-content: space-around;">
        <div class="flex-col">
            {{@root.item.actor.name}} ({{item.name}})

            <div class="flex-row">
                {{#each @root.item.system.types as |targetActorTypeIdx|}}
                    {{#with (lookup @root.typing targetActorTypeIdx) as |type|}}
                    <div class="typing-tags" 
                        style="background-color: {{type.color}}; color: {{type.textColor}}" 
                        data-action="edit-tag"
                        data-type="{{typeIdx}}"
                    >{{type.name}}</div>
                    {{/with}}
                {{/each}}
            </div>
        </div>

        <div class="flexbox-centered" style="margin-top: 5px; margin-bottom: 5px; font-weight: bold; font-style: italic;">{{localize 'General.VS'}}</div>

        <div class="flex-col">
            {{@root.targetActor.name}}

            <div class="flex-row">
                {{#each @root.targetActor.system.types as |targetActorTypeIdx|}}
                    {{#with (lookup @root.typing targetActorTypeIdx) as |type|}}
                    <div class="typing-tags" 
                        style="background-color: {{type.color}}; color: {{type.textColor}}" 
                        data-action="edit-tag"
                        data-type="{{typeIdx}}"
                    >{{type.name}}</div>
                    {{/with}}
                {{/each}}
            </div>
        </div>
    </div>

    <div class="flavor-box flexbox-centered">
        <div>{{@root.actualHitRollTotal}}</div>
    </div>

    <div class="modifiers-list">
        <div style="margin-right: 10px;">{{localize 'Chat.Damage.Accuracy'}} {{localize 'Chat.Damage.Modifiers.Modifiers'}}:</div>
        
        {{> systems/untitled-ttrpg/templates/partials/Modifiers.hbs modifiers=@root.accuracyModifiers}}
    </div>

    {{#if (eq @root.totalHits 0)}}
    <div class="flavor-box flexbox-centered" style="margin-top: 5px;">{{localize 'General.Miss'}}</div>
    {{else}}
        <div class="flavor-box" style="margin-top: 5px; margin-bottom: 5px;">
            <div class="flexbox-centered">{{localize 'General.Hit'}} {{localizeVariableKey "HitZone" @root.hitZone emptyOptions=true}}!</div>
            <div>{{{renderedHitZoneRoll}}}</div>
        </div>

        {{#if @root.extraHits}}
            <div class="flavor-box" style="margin-top: 5px;">
                <div class="flexbox-centered">{{localize 'Chat.Damage.ExtraHit'}}</div>
                {{#each @root.extraHits as |hit|}}
                <div>{{{hit.renderedRoll}}}</div>
                {{/each}}
            </div>
        {{/if}}

        <div class="flavor-box" style="margin-top: 5px;">
            <div class="flexbox-centered">{{appliedDamageFormula}}</div>
            <div class="flexbox-centered" style="font-size: 24px;">{{appliedDamageResult}}</div>
        </div>

        {{#if (gt @root.damageModifiers.length 0)}}
        <div class="modifiers-list">
            <div style="margin-right: 10px;">{{localize 'Chat.Damage.Damage'}} {{localize 'Chat.Damage.Modifiers.Modifiers'}}:</div>
            
            {{> systems/untitled-ttrpg/templates/partials/Modifiers.hbs modifiers=@root.damageModifiers}}
        </div>
        {{/if}}
    {{/if}}

    {{#if (gt @root.effects.length 0)}}
    <div class="modifiers-list" style="margin-top: 5px">
        <div style="margin-right: 10px;">{{localize 'General.Effects'}}:</div>
        
        {{> systems/untitled-ttrpg/templates/partials/Modifiers.hbs modifiers=@root.effects}}
    </div>
    {{/if}}
</div>