{{ log 'Applied Damage Chat' this }}
<div class="" data-message-id="{{message._id}}" {{#if borderColor}}style="border-color:{{borderColor}}"{{/if}} data-item-id="{{item._id}}">        
    <div class="card-header" style="background-color: {{getHeaderBackgroundColor item}}; color: {{getHeaderTextColor item}};">
        <img src="{{item.img}}" class="card-image">
        <span class="card-name" placeholder="{{localize 'Item.Placeholder.Name'}}">{{item.name}}</span>
    </div>
    
    <div class="flavor-box flexbox-centered">
        {{@root.item.actor.name}} ({{item.name}})

        <div class="flex-row">
            {{#each @root.item.system.types as |targetActorTypeIdx|}}
                {{#with (lookup @root.typing targetActorTypeIdx) as |type|}}
                <div class="typing-tags" 
                    style="background-color: {{type.color}}; color: {{type.textColor}}" 
                    data-action="edit-tag"
                    data-type="{{typeIdx}}"
                >{{type.name}}</div>
                {{/with}}
            {{/each}}
        </div>
    </div>

    <div class="flexbox-centered" style="margin-top: 5px; margin-bottom: 5px; font-weight: bold; font-style: italic;">{{localize 'General.VS'}}</div>

    <div class="flavor-box flexbox-centered">
        {{@root.targetActor.name}}

        <div class="flex-row">
            {{#each @root.targetActor.system.types as |targetActorTypeIdx|}}
                {{#with (lookup @root.typing targetActorTypeIdx) as |type|}}
                <div class="typing-tags" 
                    style="background-color: {{type.color}}; color: {{type.textColor}}" 
                    data-action="edit-tag"
                    data-type="{{typeIdx}}"
                >{{type.name}}</div>
                {{/with}}
            {{/each}}
        </div>
    </div>

    <div class="flavor-box" style="margin-top: 5px;">
        <div class="flexbox-centered">{{appliedDamageFormula}}</div>
        <div class="flexbox-centered" style="font-size: 24px;">{{appliedDamageResult}}</div>
    </div>
</div>