{{!-- {{ log 'Damage Chat' this }} --}}
<div class="" data-message-id="{{message._id}}" {{#if borderColor}}style="border-color:{{borderColor}}"{{/if}} data-item-id="{{item._id}}">        
    <div class="card-header" style="background-color: {{getHeaderBackgroundColor item}}; color: {{getHeaderTextColor item}};">
        <img src="{{item.img}}" class="card-image">
        <span class="card-name" placeholder="{{localize 'Item.Placeholder.Name'}}">{{item.name}}</span>
    </div>
    
    <div class="flavor-box">
        <div>{{localize "Chat.Damage.Damage"}}</div>
        <div>{{{renderedRoll}}}</div>
    </div>

    {{!-- {{#if @root.buttonVisible}} --}}
    <button data-action="apply-damage" style="margin-top: 5px;" data-roll-total="{{rollTotal}}" data-hit-total="{{@root.hitRollTotal}}">{{localize "Chat.Damage.ApplyTarget"}}</button>
    {{!-- {{/if}} --}}
</div>