{{ log 'Ability Chat' this }}
<div class="" data-message-id="{{message._id}}" {{#if borderColor}}style="border-color:{{borderColor}}"{{/if}} data-item-id="{{item._id}}">        
    <div class="card-header" style="background-color: {{getHeaderBackgroundColor item}}; color: {{getHeaderTextColor item}};">
        <img src="{{item.img}}" class="card-image">
        <span class="card-name" placeholder="{{localize 'Item.Placeholder.Name'}}">{{item.name}}</span>
    </div>

    {{#if item.system.flavor}}
    <div class="flavor-box">{{item.system.flavor}}</div>
    {{/if}}
    
    <div class="flavor-box">
        <div>{{localize "Chat.Damage.Damage"}}</div>
        <div>{{{renderedRoll}}}</div>
    </div>

    {{!-- {{#if @root.buttonVisible}} --}}
    <button data-action="apply-target" style="margin-top: 5px;">{{localize "Chat.Damage.ApplyTarget"}}</button>
    {{!-- {{/if}} --}}
</div>