{{!-- {{ log 'Group Actor Sheet' this }} --}}
<form>
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Health</th>
                    <th>Actions</th>
                    <th>Powers</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each actors as |actor|}}
                <tr data-actor-id="{{actor._id}}">
                    <td><img src="{{actor.img}}" alt="{{actor.name}}" style="width: 25px; height: 25px;"></td>
                    <td>{{actor.name}}</td>
                    <td>{{actor.system.health}}</td>
                    <td>{{actor.system.actions}}</td>
                    <td>{{actor.system.powers}}</td>
                    <td data-action="open-actor"><i class="fas fa-arrow-right"></i></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="header">
        <button class="choose-actor" data-action="add-actor">{{localize "Group.Sheet.AddActor"}}</button>
        {{#if @root.isGM}}
        <button class="create-actor" data-action="create-actor">{{localize "Group.Sheet.CreateActor"}}</button>
        {{/if}}
    </div>
</form>