{{!-- {{ log 'PC Actor Sheet' this }} --}}
<form>
    <div class="flex-row">
        {{#if (eq (isEditable @root.data.actor) "enabled")}}
        <img src="{{data.actor.img}}" data-edit="img" class="pc-profile-img">
        {{else}}
        <img src="{{data.actor.img}}" class="pc-profile-img">
        {{/if}}

        <input type="text" placeholder="{{localize "PC.Sheet.Placeholder.Name"}}" class="name-input" style="margin-left: 10px;">
    </div>
    <div class="flex-row" style="justify-content: space-around; margin-top: 10px;">
        <input type="Number" placeholder="{{localize "PC.Sheet.Placeholder.HP"}}" 
            value="{{@root.data.actor.system.hp.value}}" name="system.hp.value" class="square-input" 
        >
        <input type="Number" placeholder="{{localize "PC.Sheet.Placeholder.HP"}}" 
            value="{{@root.data.actor.system.hp.max}}" name="system.hp.max" class="square-input" 
            {{isEditable @root.data.actor}}
        >

        <input type="Number" placeholder="{{localize "PC.Sheet.Placeholder.AP"}}" 
            value="{{@root.data.actor.system.ap.value}}" name="system.ap.value" class="square-input"     
        >
        <input type="Number" placeholder="{{localize "PC.Sheet.Placeholder.AP"}}" 
            value="{{@root.data.actor.system.ap.max}}" name="system.ap.max" class="square-input"     
            {{isEditable @root.data.actor}}
        >

        <input type="Number" placeholder="{{localize "PC.Sheet.Placeholder.Stat3"}}" name="system.stat3" class="square-input" {{isEditable @root.data.actor}}>

        <input type="Number" placeholder="{{localize "PC.Sheet.Placeholder.Stat4"}}" name="system.stat4" class="square-input" {{isEditable @root.data.actor}}>
    </div>

    {{> systems/untitled-ttrpg/templates/partials/TypeRow.hbs typing=@root.typing object=@root.data.actor}}

    <div class="card-container">
        {{#each data.items as |item|}}
            {{#if (eq item.type 'ability')}}            
            <div data-item-id="{{item._id}}">
                {{#if (eq (isEditable @root.data.actor) "enabled")}}
                <div style="text-align: center; margin-bottom: 5px;">
                    <i class="trash-icon fas fa-trash-alt" data-action="item-delete" data-type-id="{{typeIdx}}"></i>
                </div>
                {{/if}}

                <div
                    {{#if (eq (isEditable @root.data.actor) "enabled")}}data-action="item-edit"{{/if}}
                    {{#unless (eq (isEditable @root.data.actor) "enabled")}}data-action="item-roll"{{/unless}}
                >
                    {{> systems/untitled-ttrpg/templates/partials/ItemCard.hbs customClass="small-card" item=item }}
                </div>
            </div>
            {{/if}}
        {{/each}}
    </div>

    <div style="text-align: right; margin-left: 10px;"><i class="fas fa-cog" data-action="set-editable"></i></div>
</form>