{{!-- {{ log 'PC Actor Sheet' this }} --}}
<form>
    <div class="flex-row">
        {{#if (eq (isEditable @root.data.actor) "enabled")}}
        <img src="{{data.actor.img}}" data-edit="img" class="pc-profile-img">
        {{else}}
        <img src="{{data.actor.img}}" class="pc-profile-img">
        {{/if}}

        <div class="flex-col" style="width: 100%;">
            <input type="text" placeholder="{{localize "PC.Sheet.Placeholder.Name"}}" class="name-input" style="margin-left: 10px;">

            {{#if (eq (isEditable @root.data.actor) "enabled")}}
                {{> systems/untitled-ttrpg/templates/partials/TypeRow.hbs typing=@root.typing object=@root.data.actor}}
            {{else}}
                {{#if (gt @root.data.actor.system.types.length 0)}}
                {{> systems/untitled-ttrpg/templates/partials/TypeRow.hbs typing=@root.typing object=@root.data.actor}}
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="flex-row" style="justify-content: space-around; margin-top: 10px;">
        <div class="flex-col" style="height: 150px; justify-content: space-between;">
            <div class="flex-row">
                {{> systems/untitled-ttrpg/templates/partials/HP.hbs typing=@root.typing object=@root.data.actor}}

                <span style="margin-right: 5px;"></span>

                {{> systems/untitled-ttrpg/templates/partials/AP.hbs typing=@root.typing object=@root.data.actor}}
            </div>
            {{> systems/untitled-ttrpg/templates/partials/SizeSelector.hbs typing=@root.typing object=@root.data.actor}}
        </div>

        {{> systems/untitled-ttrpg/templates/partials/Profile.hbs }}
    </div>

    <div class="card-container">
        {{#each data.items as |item|}}
            {{#if (eq item.type 'perk')}}
                <div data-item-id="{{item._id}}">
                    {{#if (eq (isEditable @root.data.actor) "enabled")}}
                    <div style="text-align: center; margin-bottom: 5px;">
                        <i class="trash-icon fas fa-trash-alt" data-action="item-delete" data-type-id="{{typeIdx}}"></i>
                    </div>
                    {{/if}}

                    <div class="card-header" style="background-color: black; color: white;">
                        {{#if item.system.inEditMode}}
                        <img src="{{item.img}}" class="card-image" data-edit="img">
                        {{else}}
                        <img src="{{item.img}}" class="card-image">
                        {{/if}}

                        <span class="card-name" placeholder="{{localize 'Item.Placeholder.Name'}}">{{item.name}}</span>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>

    <div class="card-container">
        {{#each data.items as |item|}}
            {{#if (eq item.type 'ability')}}            
            <div data-item-id="{{item._id}}">
                {{#if (eq (isEditable @root.data.actor) "enabled")}}
                <div style="text-align: center; margin-bottom: 5px;">
                    <i class="trash-icon fas fa-trash-alt" data-action="item-delete" data-type-id="{{typeIdx}}"></i>
                </div>
                {{/if}}

                <div
                    {{#if (eq (isEditable @root.data.actor) "enabled")}}data-action="item-edit"{{/if}}
                    {{#unless (eq (isEditable @root.data.actor) "enabled")}}data-action="item-roll"{{/unless}}
                >
                    {{> systems/untitled-ttrpg/templates/partials/ItemCard.hbs customClass="small-card" item=item }}
                </div>
            </div>
            {{/if}}
        {{/each}}
    </div>

    <div style="text-align: right; margin-left: 10px;"><i class="fas fa-cog" data-action="set-editable"></i></div>
</form>