{{!-- {{ log 'Types Form' this }} --}}
<form>
    <table>
        <thread>
            <tr>
                <th>
                    <div>{{localize "General.Defense"}}<i class="fas fa-arrow-right"></i></div>
                    <div>{{localize "General.Attack"}}<i class="fas fa-arrow-down"></i></div>
                </th>
                {{#each @root.typing as |type typeIdx|}}
                <th>
                    <div class="typing-tags" 
                        style="background-color: {{type.color}}; color: {{type.textColor}}" 
                        data-action="edit-tag"
                        data-type="{{typeIdx}}"
                    >{{type.name}}</div>
                </th>
                {{/each}}
            </tr>
        </thread>
        <tbody>
            {{#each @root.typing as |row rowIdx|}}
            <tr>
                <td>
                    <div class="typing-tags"
                        style="background-color: {{row.color}}; color: {{row.textColor}};"
                        data-action="edit-tag"
                        data-type="{{rowIdx}}"
                    >{{row.name}}</div>
                </td>

                {{#each @root.typing as |column colIdx|}}
                <td style="align-items: center;">
                    <input type="number" 
                        placeholder="1" 
                        name="interactions-{{colIdx}}-{{rowIdx}}"
                        value="{{lookup (lookup (lookup @root.typing colIdx) 'interactions') rowIdx}}"
                        class="square-input size-40-40"
                        {{#unless @root.isGM}}disabled{{/unless}}
                    >
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{#if isGM}}
    <button type="button" data-action="add-type">{{localize "Types.Add"}}</button>
    {{/if}}
</form>