{{ log 'Types Form' this }}
<form>
    <table>
        <thread>
            <tr>
                <th></th>
                {{#each @root.typing as |column|}}
                <th>{{column.name}}</th>
                {{/each}}
            </tr>
        </thread>
        <tbody>
            {{#each @root.typing as |row rowIdx|}}
            <tr>
                <td>{{row.name}}</td>

                {{#each @root.typing as |column colIdx|}}
                <td>
                    <input type="Number" 
                        placeholder="1" 
                        name="interactions-{{column.name}}-{{row.name}}"
                        value="{{lookup (lookup (lookup @root.typing colIdx) 'interactions') rowIdx}}"
                        class="square-input"
                    >
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>