{{ log 'Types Form' this }}
<form>
    <button type="button" data-action="add-type">{{localize "Types.Add"}}</button>

    <table>
        <thread>
            <tr>
                <th></th>
                {{#each @root.typing as |type typeIdx|}}
                <th>
                    <div class="typing-tags" 
                        style="background-color: {{type.color}};" 
                        data-action="edit-tag"
                        data-type="{{typeIdx}}"
                    >{{type.name}}</div>
                </th>
                {{/each}}
            </tr>
        </thread>
        <tbody>
            {{#each @root.typing as |row rowIdx|}}
            <tr>
                <td><div class="typing-tags">{{row.name}}</div></td>

                {{#each @root.typing as |column colIdx|}}
                <td>
                    <input type="Number" 
                        placeholder="1" 
                        name="interactions-{{colIdx}}-{{rowIdx}}"
                        value="{{lookup (lookup (lookup @root.typing colIdx) 'interactions') rowIdx}}"
                        class="square-input"
                    >
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>